html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

* {
    position: absolute;
}
body {
 background-image: url("SmashBrosBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.head {
    width: 450px;
    height: 420px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #ff7d92;
    border: 4px solid rgb(29,29,29);
    box-shadow: inset -20px -18px 5px #ce235f;
    border-radius: 50%;
}

.face {
    width: 150px;
    height: 170px;
    left: 75px;
    top: 75px;
    
}

.eye-group {
    width: 250px;
    height: 100px;
    top: 10px;
    left: 0px;
}

.eye-1 {
    background-color: #0e0e0e;
    width: 70px; 
    height: 125px; 
    border-radius: 80%; 
    top: -10px; 
    left: 55px;
}

.eye-2 {
    background-color: #0e0e0e; 
    width: 70px; 
    height: 125px; 
    top: -10px; 
    left: 165px; 
    border-radius: 80%;
}

.pupil {
    width: 40px;
    height: 60px;
    top: 5px;
    left: 15px;
    background-color: #ffffff;
    border-radius: 50%;
}

.pupil-blue-left {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 50px;
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset 1px -35px 1px -5px #0259a6;
}

.pupil-blue-right {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 50px;
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset -1px -35px 1px -5px #0259a6;
}

.cheek-group {
    width: 250px;
    height: 100px;
    top: 10px;
    left: 0;
}

.cheek-1 {
    width: 90px;
    height: 50px;
    top: 110px;
    left: -30px;
    background-color: #ff2974;
    box-shadow: inset -5px -10px 5px #ce235f;
    border-radius: 50%;
}
.cheek-2 {
    width: 90px;
    height: 50px;
    top: 110px;
    left: 225px;
    background-color: #ff2974;
    box-shadow: inset -5px -10px 5px #ce235f;
    border-radius: 50%;
}

.mouth {
    width: 90px;
    height: 55px;
    bottom: -30px;
    left: 98px;
    background-color: #6f2626;
    border-radius: 30px 30px 90px 90px ;
    border: 2px solid #0d0d0e;
    overflow: hidden;
}

.tounge {
    width: 100px;
    height: 90px;
    left: -2px;
    top: 10px;
    background-color: #ff4e4e;
    border-radius: 50%;
}

.hand-group {
    width: 50px;
    height: 100px;
    top: 10px;
    left: 0;
}

.hand-1 {
    left: 1100px;
    top: 230px;
    background-color: #ff7d92;
    width: 140px;
    height: 180px;
    border-radius: 80%;
    transform: rotate(35deg);
    border: 4px solid rgb(29,29,29);
}

.hand-2 {
    left: 680px;
    top: 480px;
    background-color: #ff7d92;
    width: 140px;
    height: 180px;
    border-radius: 80%;
    transform: rotate(-120deg);
    border: 4px solid rgb(29,29,29);
}

.feet-group {
    width: 50px;
    height: 100px;
    top: 10px;
    left: 0;
}

.foot-1 {
    left: 770px;
    top: 550px;
    background-color: #9c102e;
    width: 180px;
    height: 230px;
    border-radius: 80%;
    transform: rotate(160deg);
    border: 4px solid rgb(29,29,29);
}

.foot-2 {
    left: 1010px;
    top: 530px;
    background-color: #9c102e;
    width: 180px;
    height: 230px;
    border-radius: 80%;
    transform: rotate(-240deg);
    border: 4px solid rgb(29,29,29);
    z-index: -1;
    position: absolute;

}


